/*-----NavBar-----*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--first-color);
  height: 80px;
  max-height: 100px;
  overflow: hidden;
}

.navbar__layout {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 100%;
}

.navbar__brand {
  flex: 1;
  height: 100%;
}

.navbar__logo {
  max-height: 110%;
}

.navbar__content {
  position: relative;
  height: 100%;
  padding-top: .6rem;
  flex: 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2rem;
}

.navbar__content::before {
  content: "";
  bottom: 0;
  left: 0;
  width: 200%;
  position: absolute;
  height: 1.2rem;
  background-color: var(--second-color);
  transform: skewX(-35deg);
}

.navbar__logout {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
  border-radius: .5rem;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*Pokeball Counter*/

.navbar__pokeballs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background-color: var(--fourth-color);
}

.navbar__pokeball-counter {
  font-size: 1rem;
  font-weight: 900;
  flex: 3;
  text-align: center;
}

.navbar__pokeballs-ball {
  max-height: 100%;
  flex: 1;
  transition: all .2s linear;
}

.login__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background-color: var(--white-color);
}

.login__btn:hover {
  transform: translateX(4px);
}

.login__btn:hover .navbar__pokeballs-ball {
  transform: rotate(90deg);
}

.login-counter {
  font-size: 1rem;
  font-weight: 900;
  flex: 3;
  text-align: center;
}


/*register*/

.register {
  position: relative;
  margin-top: 80px;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 80px);
  max-height: 100vh;
}

.register__layout {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Homepage-hero*/

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: url(../images/hero-bg.png);
  background-size: contain;
}

.hero__layout {
  position: relative;
  padding-top: 100px;
  width: 90%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__img {
  max-width: 700px;
  width: 60%;
}

.hero__timer {
  position: absolute;
  top: 70%;
  width: 200px;
  background-color: var(--first-color);
  border-radius: .5rem;
  padding: .5rem 1rem;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__timer-lock {
  background-color: var(--red-color);
  padding: .2rem .7rem;
  font-size: 2rem;
  border-radius: .5rem;
  cursor: pointer;
}



/*NAVIGATION MENU*/

.navigation {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 95%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(90deg, var(--first-color) 0%, rgba(10, 16, 100, 0.8) 100%);
  border-radius: 0 .8rem 0 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}

.navigation__item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: var(--white-color);
  border-radius: .5rem;
}

.navigation__item-home {
  color: var(--fifth-color);
}

.navigation__item-cards {
  color: var(--first-color);
}

.navigation__item-multiplayer {
  color: var(--first-color);
}

.navigation__item-pokedex {
  color: var(--red-color);
}

.navigation__item-stats {
  color: var(--gold-color);
}

.navigation__item-profile {
  color: var(--green-color);
}

.navigation__item:hover {
  transform: translateX(4px) translateY(2px);
}

/*login*/

.login {
  position: relative;
  margin-top: 80px;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 80px);
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*register*/

.cards {
  position: relative;
  margin-top: 80px;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 80px);
  max-height: 100vh;
}

.cards__layout {
  width: 90%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__pokemon {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__pokemonList {
  width: 60%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: scroll;
}

.pokeList__card {
  min-width: 200px;
  max-width: 400px;
  min height: 200px;
  max-height: 280px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  background-color: var(--gold-color);
  border-radius: .5rem;
  overflow: hidden;
  cursor: pointer;
  transition: all .1s linear;
}

.pokeList__card:hover {
  transform: translateX(-5px);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, .2);
}

.pokeCard__sprite {
  flex: 1;
  width: 100px;
  max-width: 100%;
  max-height: 100%;
}

/* carta */

.Carta {
  width: 350px;
  height: 500px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 33, 129);
  border-radius: 1rem;
}

.carta__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carta__spriteC {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.carta__sprite {
  display: block;
  max-height: 180px;
}

.carta__stats {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  background-color: beige;
}

/* PROFILE */

.profile {
  position: relative;
  margin-top: 80px;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 80px);
  max-height: 100vh;
}

.profile__layout {
  width: 90%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile__info {
  height: 450px;
  width: 680px;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  background-color: var(--fourth-color);
  border-radius: 1rem;
  color: var(--white-color);
}

.profile__info-foto {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid var(--white-alpha-color);
}


.profile__info-fotoIMG {
  position: relative;
}

.profile__info-IMG {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: beige;
  border: 5px solid var(--first-color);
  overflow: hidden;
}

.profile__info-fotoEdit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-color);
  border-radius: 50%;
  cursor: pointer;
}

.profile__info-status {
  max-width: 90%;
  margin: 1rem 0;
  padding: .5rem;
  background-color: var(--second-text-color);
  border-radius: 0 .3rem .3rem .3rem;
}

.profile__info-trophies {
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.profile__info-points {
  display: flex;
  align-items: flex-end;
}

.profile__info-fotoIMG img {
  max-width: 100%;
  margin-bottom: .5rem;
}

.profile__info-fotoIMG {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile__info-changes {
  flex: 3;
}

.profile__stats {
  height: 400px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--fourth-color);
  border-radius: 1rem;
}

.profile__stats-stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile__stats-item {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile__stats-pokemons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile__stats-img {
  max-width: 70%;
}

.update__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.update__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.update__submit {
  padding: .5rem 1rem;
  border-radius: 1rem;
  color: var(--white-color);
  background-color: var(--green-color);
  cursor: pointer;
}

.update__discard {
  padding: .5rem;
  border-radius: 1rem;
  color: var(--white-color);
  background-color: var(--red-color);
  cursor: pointer;
}